body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: darkslategrey;
}
.conteiner{
    width: 400px;
    height: 20px;
    background-color: gainsboro;
    border-radius: 20px;
    position: relative;
    top: 50px;
}
.cont-1{
    width: 50px;
    height: 10px;
    background-color: gainsboro;
    border-radius: 10px;
    position: relative;
    left: 30px;
    top: 15px;
}
.cont-2{
    width: 50px;
    height: 10px;
    background-color: gainsboro;
    border-radius: 10px;
    position: relative;
    left: 320px;
    top: 5px;
}
.screen{
    width: 390px;
    height: 250px;
    border: 4px solid black;
    border-radius: 12px;
    position: relative;
    bottom: 280px;
    background-color: white;
}
.base{
    width: 390px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 230px;
    color: white;
    text-align: center;
}
.camera{
    width: 50px;
    height: 10px;
    background-color: black;
    border-radius: 15px;
    position: relative;
    left: 165px;
    bottom: 20px;
}
.cam{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: blue;
    position: relative;
    left: 30px;
}
.text{
    position: relative;
    top: 50px;
    left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkorchid;
    font-size: 1.5em;
}
.text:hover{
    letter-spacing: 0.5em;
}